*.diff

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# Python virtual environments.
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints
/.virtual_documents

# IPython
profile_default/
ipython_config.py


# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.pt

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs
pyrightconfig.json

# project dirs
datasets
checkpoints
output
